body{
    background-image: url(https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg);
    background-repeat:no-repeat;
    background-size:cover ;
    text-align: center;
}
.top{
    text-align: center;
    background-color: red;
    opacity: 60%;
    
}
.top a{
    text-decoration: none;
    color: white;
}
.text{
    color: white;
    text-align: center;
}
*{
    margin: 0;
    padding: o;
}
h1{
    color:white;
    text-align:center;
    padding-top: 150px;

}