th,td{
    padding:10px;
    color: white;
    border: 1px solid grey;
    
}
body{
    background-color: #000000;
}

h1{
    color: white;
    text-align: center;    

}
th{
    text-align: left;
    background-color: rgb(226, 8, 8);
}
table{
       border-collapse: collapse;
       margin-top: left;
       width:100%;
       text-align: center;
}
td:first-child{
    background-color: red;
}
td:hover{
    background-color: rgba(255, 0, 0, 0.669);
    text-align: center;
}